<!DOCTYPE html>
<html>
    <head>
        <!-- Mobile Specific Meta -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <title>{% block title %}JobSearch{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" />
        
        <!-- Bootstrap theme CSS + App CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/vendor/css/font-awesome.min.css') }}" />
            {% stylesheets 'assets/vendor/css/linearicons.css'
                           'assets/vendor/css/main.css'
                           'assets/css/*' filter='cssrewrite, ?scssphp' output='css/compiled/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="oz-body-wrap">
            
            <!-- Header/ Nav - Menu -->
            <header class="default-header">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div class="header-top d-flex justify-content-between align-items-center">
                            <div class="logo">
                                <a href=""><img src="{{ asset('assets/vendor/img/logo-jobsearch.png') }}" alt=""></a>
                            </div>
                            <div class="main-menubar d-flex align-items-center">
                                <nav class="hide">
                                    <a class="menuLinks" href="{{path('core_homepage')}}">
                                        <span style="font-weight: bold">Home</span>
                                    </a>
                                    <a class="menuLinks" href="{{path('sadioJobsP_homepage')}}">
                                        <span style="font-weight: bold">Platform</span>
                                    </a>
                                    
                                    {# If user is AUTEUR OR ADMIN #}
                                    {% if is_granted('ROLE_AUTEUR') %}
                                        <a class="menuLinks" href="{{path('sadioJobsP_newPost')}}">
                                            <span style="font-weight: bold">New Offer</span>
                                        </a>
                                    {% endif %}
                                    
                                    {# If user is online #}
                                    {% if app.user %}
                                        <a class="menuLinks" href="{{path('fos_user_security_logout')}}">
                                            <span style="font-weight: bold">Logout</span>
                                        </a>
                                    {# If user is offline #}
                                    {% elseif not app.user %}
                                        <a class="menuLinks" href="{{path('fos_user_security_login')}}">
                                            <span style="font-weight: bold">Login</span>
                                        </a>
                                        <a class="menuLinks" href="{{path('fos_user_registration_register')}}">
                                            <span style="font-weight: bold">Register</span>
                                        </a>
                                    {% endif %}
                                </nav>
                                <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
            <!-- Banner Area -->
            <section class="banner-area relative">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row fullscreen align-items-center justify-content-center">
                        <div class="col-lg-10">
                            <div class="banner-content text-center">
                                <h1 class="text-uppercase text-white">CHECK OUT OTHER PROJECTS</h1><br />
                                <a href="#" class="genric-btn primary circle arrow">
                                    <span class="mr-10">Get Started</span>
                                    <span class="lnr lnr-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Body -->
            <section class="team-force-area pt-50">
                <div class="container">
                    <div class="row align-items-start">
                        <aside class="d-none col-lg-4 d-lg-block">
                            {{ render(controller("SadioJobsPlateformBundle:Default:recentlyPosted", {'limit': 3})) }}
                        </aside>
                        <!-- Block Body dont les Vues sont celles des controllers -->
                        <main class="col-12 col-lg-8">
                            {% block body %}{% endblock %}
                        </main>
                    </div>
                </div>
            </section>
        
            <!-- Footer -->
            <footer>
                <div class="container pb-25">
                    <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                        <p class="footer-text m-0" id="footerText">Copyright &copy; {{ "now"|date("Y")}} All rights reserved - A Symfony 3.4
                            project devolepd by <a href="">Sadio DIALLO</a>
                        </p>
                        <div class="footer-social d-flex align-items-center footerIcones">
                            <a href="#" title="Find me on Github"><i class="fa fa-github"></i></a>
                            <a href="#" title="Find me on Bitbucket"><i class="fa fa-bitbucket"></i></a>
                            <a href="#" title="Download my Resume"><i class="fa fa-download"></i></a>
                            <a href="#" title="Contact me"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Bootstrap theme JS + Main JS-->
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/js/vendor/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/js/vendor/popper.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/js/bootstrap.min.js') }}"></script>
            {% javascripts 'assets/vendor/js/main.js' filter='?jsqueeze' output='js/compiled/main.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
