{% extends "@SadioJobsPlateform/platform_layout.html.twig" %}
    {# Page CSS AND TITLE --------------------------------------------------------------------------------------------------------- #}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/jobsPlatform_index.css') }}" />
    {% endblock %}
    {% block title %}
        {{ parent() }} - Offers List
    {% endblock title %}
    {# ---------------------------------------------------------------------------------------------------------------------------- #}
    {# Page Body ------------------------------------------------------------------------------------------------------------------ #}
    {% block jobsPlatform_body %}
        <div class="row">
            <div class="col-12 pt-30">
                <div class="text-center" style="color:green;">
                    {% for message in app.flashes('notice') %}
                        <i class="fa fa-check" style="color:green;"></i> {{ message }}
                    {% endfor %}
                </div>
                <p class="lead">Find your dream job...</p>
                <div class="list-group mt-20 mb-30">
                    {% for offer in list if list is not empty %}
                        <a href="{{path('sadioJobsP_singlePost', {'id': offer.getId})}}" class="list-group-item list-group-item-action offersListItem">
                            <h4>
                                {{ offer.getPosition }}
                                <small class="d-none d-sm-block float-right text-muted">
                                    {{ offer.getCreationDate|date("m/d/Y") }}
                                </small>
                            </h4>
                            <p class="mt-10">
                                {% if offer.getShortDesc is not empty %}
                                    {{ offer.getShortDesc }}
                                {% else %}
                                    {{ offer.getDescription }}
                                {% endif %}
                            </p>
                            <p class="float-right text-muted">
                                <mark class="listItemMark"><em>- Posted By {{ offer.getAuthor }}</em></mark><br class="d-sm-none" />
                                <em class="d-sm-none float-right">{{ offer.getCreationDate|date("m/d/Y") }}</em>
                            </p>
                        </a>
                    {% else %}
                        <h4 style="color:#605f5de3;">There are no more jobs at the moment. Please try again later...</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Pagination -->
        <div class="row">
            <div class="col-12 text-center" style="margin-bottom:2%;">
                <div aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link paginationLink" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link paginationLink" href="#">1</a></li>
                        <li class="page-item"><a class="page-link paginationLink" href="#">2</a></li>
                        <li class="page-item"><a class="page-link paginationLink" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link  paginationLink" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock jobsPlatform_body %}