{% extends "@SadioJobsPlateform/platform_layout.html.twig" %}
    {# Page CSS AND TITLE --------------------------------------------------------------------------------------------------------- #}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/jobsPlatform_view.css') }}" />
    {% endblock %}
    {% block title %}
        {{ parent() }} - {{ offer.position }}
    {% endblock title %}
    {# ---------------------------------------------------------------------------------------------------------------------------- #}
    {# Page Body ------------------------------------------------------------------------------------------------------------------ #}
    {% block jobsPlatform_body %}
        <div class="row">
            <div class="col-12 pt-30">
                <ul class="list-group mt-20 mb-30">
                    <li class="list-group-item">
                        <h3>
                            {{ offer.getPosition }}
                            <small class="d-none d-sm-block float-right text-muted">
                                {{ offer.getCreationDate|date("m/d/Y") }}
                            </small>
                        </h3>
                        <div class="mt-20 mb-30">
                            <p>
                                {{ offer.getDescription }}
                            </p>
                            <p>
                                This Offer was posted in following categories : 
                                <strong>
                                    <em>
                                        {% for category in offer.getCategories %}
                                            {{ category.getName }}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </em>
                                </strong>
                            </p>
                            <p class="float-right text-muted">
                                <mark class="listItemMark"><em>- Posted By {{ offer.getUser.getName }}</em></mark><br class="d-sm-none" />
                                <em class="d-sm-none float-right">{{ offer.getCreationDate|date("m/d/Y") }}</em>
                            </p>
                        </div>
                        
                        <!-- Buttons -->
                        <div>
                            <p class="ml-3 ml-sm-0">
                                <a class="btn btn-warning" id="editButton" href="{{path('sadioJobsP_editPost', {'id': offer.getId})}}">
                                    <i class="fa fa-pencil-square-o" id="editIcon"></i> Edit
                                </a>
                                <a class="btn btn-dark" id="deleteButton" href="{{path('sadioJobsP_deletePost', {'id': offer.getId})}}">
                                    <i class="fa fa-trash-o"></i> Delete
                                </a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock jobsPlatform_body %}