{# To Override the form and/or errors => see below link. Then create the new form using reference (FOS\UserBundle\Form\Type\RegistrationFormType #}
{# https://symfony.com/doc/current/bundles/FOSUserBundle/overriding_forms.html #}
<div class="row">
    <div class="col-12 pt-30">
        <div class="card mt-20 mb-30">
            <div class="card-header">
                <p class="lead">Please fill in all fields.</p>
            </div>
            <div class="card-body">
                <div class="card-text">
                    {% trans_default_domain 'FOSUserBundle' %}
                    
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                                                
                        {# Les erreurs générales du formulaire #}
                        {{ form_errors(form) }}

                        {# Les champs #}
                        <div class="form-group">
                            {{ form_label(form.username, "UserName :") }}
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, "Email :") }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, "Password :") }}                     
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, "Password Confirmation :") }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        {{ form_rest(form) }}
                        
                        <div>
                            <button class="btn btn-warning btn-block" type="submit">
                                <i class="fa fa-sign-in" id="submitIcon"></i>
                                {{ ' REGISTER'|trans }}
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>